*~
#*
*.ali
*.log
akt/src/akt-configs.ads
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
*.cov
ChangeLog
.settings
util.gpr
gnatinspect.db*
clang_ref_cache.db
gpsauto.cgpr
keystore-tests.xml
keystore-test.xml
keystore-aunit.xml
bin/
lib/
obj/
docs/Keystore_Random.md
regtests/files/gnupg
regtests/results/
wiki
alire
cover
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
stamp-test-setup
