*~
#*
*.ali
*.log
tools/akt-configs.ads
config.status
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
*.cov
ChangeLog
.settings
configure.lineno
util.gpr
gnatinspect.db*
clang_ref_cache.db
gpsauto.cgpr
keystore-tests.xml
keystore-test.xml
keystore-aunit.xml
autom4te.cache
lib/
obj/
keystoreada.gpr
keystoreada_tools.gpr
keystoreada_gtk.gpr
keystoreada_tests.gpr

                                                               