*~
#*
*.log
config.status
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
util.gpr
tests.xml
keystoreada-test.xml
keystoreada-aunit.xml
autom4te.cache
*.txt
lib/
obj/
keystoreada.gpr
keystoreada_tools.gpr
keystoreada_gtk.gpr
keystoreada_tests.gpr

                                                               