Source: keystoreada
Priority: optional
Section: libdevel
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 dh-ada-library,
 gnat, gnat-8,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2),
 pkg-config,
 libfuse-dev,
# 2015-2 is compatible with gnat-7
# dh-ada-library (>= 6.7)
 libutilada-sys3-dev,
 libutilada-unit3-dev,
# pandoc requires texlive-fonts-extra for PDF
 pandoc, texlive-fonts-extra
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/ada-keystore/
Vcs-Git: https://github.com/stcarrez/ada-keystore.git -b debian-gnat-8
Vcs-Browser: https://github.com/stcarrez/ada-keystore/tree/debian-gnat-8

Package: akt
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: protect your sensitive data with secure local storage
 AKT is a tool to store information in secure wallets
 and protect the stored information by encrypting the content.
 It is necessary to know one of the wallet password to access
 its content.  AKT can be used to safely store passwords,
 credentials, bank accounts and even documents.

Package: libkeystoreada1.3.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Keystore library (runtime)
 Ada Keystore is a library to store information in secure wallets
 and protect the stored information by encrypting the content.
 It is necessary to know one of the wallet password to access its content.
 Ada Keystore can be used to safely store passwords, credentials,
 bank accounts and even documents.  The library allows one to manage the
 secure wallets from an Ada program.

Package: libkeystoreada3-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libkeystoreada-doc (= ${source:Version})
Description: Ada Keystore library (Development)
 Ada Keystore is a library to store information in secure wallets
 and protect the stored information by encrypting the content.
 It is necessary to know one of the wallet password to access its content.
 Ada Keystore can be used to safely store passwords, credentials,
 bank accounts and even documents.  The library allows one to manage the
 secure wallets from an Ada program.

Package: libkeystoreada-doc
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: gnat
Description: Ada Keystore library (documentation)
 Ada Keystore is a library to store information in secure wallets
 and protect the stored information by encrypting the content.
 It is necessary to know one of the wallet password to access its content.
 Ada Keystore can be used to safely store passwords, credentials,
 bank accounts and even documents.  The library allows one to manage the
 secure wallets from an Ada program.
 .
 This package contains the documentation for Ada Keystore Library
 in HTML and PDF as well as several examples.
